PORT=3000
CLIENT_ORIGIN=http://localhost:5500
FIREBASE_PROJECT_ID=praxto-leads
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123
# Set this to the path of a Firebase service-account JSON file.
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
